{% load staticfiles %}
{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>首页</title>
    <link href="{% static 'css/index.css'%}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'js/Swiper-3.4.2/dist/css/swiper.min.css'%}">
    <script src="{% static 'js/Swiper-3.4.2/dist/js/swiper.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery1.42.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.SuperSlide.2.1.1.js'%}"></script>

    <!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.8a.js"></script>
<script>
DD_belatedPNG.fix('#nav a');
</script>
<![endif]-->
</head>
<body>
<div id="header">
    <div class="header wrap"></div>
</div>
<ul id="nav" class="wrap">
    <li>
        <a href="index.html" class="active">首&nbsp;页</a>
    </li>
    <li>
        <a href="product.html">公告</a>
    </li>
    <li>
        <a href="room.html">教学文件</a>
    </li>
    <li>
        <a href="case.html">经验交流</a>
    </li>
    <li>
        <a href="buy.html">辅导员风采</a>
    </li>
    <li>
        <a href="download.html">留言板</a>
    </li>
    <li>
        <a href="help.html">管理员登录</a>
    </li>
</ul>
<!-- <div id="picTab">
	<div class="picTabC wrap"></div>
</div>
<div id="whyQQ" class="wrap"></div>
<div id="main" class="wrap"></div>
<div id="footer" class="wrap"></div> -->
<div id="main" class="wrap">
    <!-- 左边部分 -->

    <div class="left">
        <!-- 左边上边部分 -->
        <div class="left_up">
            <div class="slide_pic">
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">Slide 1</div>
                        <div class="swiper-slide">Slide 2</div>
                        <div class="swiper-slide">Slide 3</div>
                        <div class="swiper-slide">Slide 4</div>
                        <div class="swiper-slide">Slide 5</div>
                        <div class="swiper-slide">Slide 6</div>
                        <div class="swiper-slide">Slide 7</div>
                        <div class="swiper-slide">Slide 8</div>
                        <div class="swiper-slide">Slide 9</div>
                        <div class="swiper-slide">Slide 10</div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </div>
            <!-- 左边上右边部分 -->
            <div class="left_left">
                <div class="up_left_title"><h2>最新资讯</h2></div>
                <div class="up_left_content">
                    <div class="content">
                        <ul>
                            <li><a href="help.html">内容内容的还是推土机发的</a></li>
                            <li><a href="help.html">内容内容的还是推土机发的</a></li>
                            <li><a href="help.html">内容内容的还是推土机发的</a></li>
                            <li><a href="help.html">内容内容的还是推土机发的</a></li>
                            <li><a href="help.html">内容内容的还是推土机发的</a></li>
                            <li><a href="help.html">内容内容的还是推土机发的</a></li>
                            <li><a href="help.html">内容内容的还是推土机发的</a></li>
                            <li><a href="help.html">内容内容的还是推土机发的</a></li>
                        </ul>

                    </div>
                    <div class="content_time">
                        <ul>
                            <li>2017-12-3</li>
                            <li>2017-12-3</li>
                            <li>2017-12-3</li>
                            <li>2017-12-3</li>
                            <li>2017-12-3</li>
                            <li>2017-12-3</li>
                            <li>2017-12-3</li>
                            <li>2017-12-3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="left_middle">


            <div class="middle_left">

                <div class="slideTxtBox">
                    <div class="hd">

                        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                        <span class="arrow"><a class="next"></a><a class="prev"></a></span>

                        <ul>
                            <li>通知</li>
                            <li>公告</li>
                            <li>出国</li>
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">中国打破了世界软件巨头规则</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">口语：会说中文就能说英语！</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">农场摘菜不如在线学外语好玩</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">数理化老师竟也看学习资料？</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">学英语送ipad2,45天突破听说</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">学外语，上北外！</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">那些无法理解的荒唐事</a></li>
                        </ul>
                        <ul>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">名师教作文：３妙招巧写高分</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">耶鲁小子：教你备考SAT</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">施强：高端专业语言教学</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">数理化老师竟也看学习资料？</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">【推荐】名校英语方法曝光！</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">2012高考“考点”大曝光!!</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">涨价仍爆棚假日旅游冰火两重天</a></li>
                        </ul>
                        <ul>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">澳大利亚八大名校招生说明会</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">2012世界大学排名新鲜出炉</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">新加坡留学，国际双语课程</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">高考后留学日本名校随你选</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">教育培训行业优势资源推介</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">即刻预约今年最后一场教育展</a></li>
                            <li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com"
                                                                       target="_blank">女友坚持警局完婚不抛弃</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="middle_right">
                最新动态

            </div>

        </div>

        <div class="left_bottom">
            <ul>
                <li class="bottom_left">通知公告</li>
                <li class="bottom_right">热点动态</li>

            </ul>
        </div>
    </div>


    <!-- 右边部分 -->
    <div class="right">
        <div class="right_content">
            <div class="picMarquee-top">
                <h3>辅导员风采</h3>

                <div class="hd">
                    <a class="next"></a>
                    <a class="prev"></a>
                </div>
                <div class="bd">
                    <ul class="picList">
                        <li>
                            <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img
                                    src="images/pic1.jpg"/></a></div>
                            <div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图1</a></div>
                        </li>
                        <li>
                            <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img
                                    src="images/pic2.jpg"/></a></div>
                            <div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图2</a></div>
                        </li>
                        <li>
                            <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img
                                    src="images/pic3.jpg"/></a></div>
                            <div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图3</a></div>
                        </li>
                        <li>
                            <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img
                                    src="images/pic4.jpg"/></a></div>
                            <div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图4</a></div>
                        </li>
                        <li>
                            <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img
                                    src="images/pic5.jpg"/></a></div>
                            <div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图5</a></div>
                        </li>
                        <li>
                            <div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img
                                    src="images/pic6.jpg"/></a></div>
                            <div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图6</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
</script>
</body>
<script type="text/javascript">
    jQuery(".picMarquee-top").slide({mainCell: ".bd ul", autoPlay: true, effect: "topMarquee", vis: 3, interTime: 50});

    var ary = location.href.split("&");
    jQuery(".slideTxtBox").slide({
        effect: ary[1],
        autoPlay: ary[2],
        trigger: ary[3],
        easing: ary[4],
        delayTime: ary[5],
        pnLoop: ary[6]
    });

</script>
</html>
