{% load staticfiles %}
{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>首页</title>
    <link href="{% static 'show/css/index.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'show/js/Swiper-3.4.2/dist/css/swiper.min.css' %}">
    <script src="{% static 'show/js/Swiper-3.4.2/dist/js/swiper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'show/js/jquery1.42.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'show/js/jquery.SuperSlide.2.1.1.js' %}"></script>

    <!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.8a.js"></script>
<script>
DD_belatedPNG.fix('#nav a');
</script>
<![endif]-->
</head>
<body>
<div id="header">
    <div class="header wrap"></div>
</div>
<ul id="nav" class="wrap">
    <li>
        <a href="/" class="active">首&nbsp;页</a>
    </li>
    <li>
        <a href="/show_info/1">公告</a>
    </li>
    <li>
        <a href="/show_info/2">教学文件</a>
    </li>
    <li>
        <a href="/show_info/3">经验交流</a>
    </li>
    <li>
        <a href="/show_counsellor">辅导员风采</a>
    </li>
    <li>
        <a href="/show_info/6">留言板</a>
    </li>
    <li>
        <a href="/login">登录</a>
    </li>
</ul>


<div id="main" class="wrap">
    <!-- 左边部分 -->

    <div class="left">
        <!-- 左边图片轮播部分 -->
        <div class="left_up">
            <div class="slide_pic">
                <div class="picScroll-left">
                    <div class="hd">
                        <span class="title_color">经验交流</span>
                        <a class="next"></a>
                        <a class="prev"></a>
                    </div>
                    <div class="bd">
                        <ul class="infoList">
                            {% for i in jinyan %}
                                <li>
                                    <span class="date">{{ i.create_time }}</span>
                                    <a href="/content_detail/{{ i.id }}" target="_blank">{{ i.title_title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>
            <!-- 左边上右边部分 -->
            <div class="left_left">
                <div class="txtMarquee-top">

                    <div class="hd">
                        <a class="next"></a>
                        <ul></ul>
                        <a class="prev"></a>
                        <span class="title_color">辅导员风采</span>
                        <span class="pageState"></span>

                    </div>
                    <div class="bd">
                        <ul class="picList">
                            {% for i in fudaoyaun %}
                                <li>
                                    <div class="pic">
                                        <img src="{{ i.upload_head }}" style="width: 100%;max-height: 150px;"/>
                                    </div>
                                    <div class="title">
                                        <span>{{ i.nickname }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="left_middle">
            <!-- 通知公告-->
            <div class="middle_left">
                <div class="txtScroll-top">
                    <div class="hd">
                        <span class="title_color">公告</span>
                    </div>
                    <div class="bd">
                        <ul class="infoList">
                            {% for i in gonggao %}
                                <li>
                                    <span class="date">{{ i.create_time }}</span>
                                    <a href="/content_detail/{{ i.id }}" target="_blank">{{ i.title_title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
            <div class="middle_right">
                <div class="txtScroll-top">
                    <div class="hd">
                        <span class="title_color">通知</span>
                    </div>
                    <div class="bd">
                        <ul class="infoList">
                            {% for i in tongzhi %}
                                <li>
                                    <span class="date">{{ i.create_time }}</span>
                                    <a href="/content_detail/{{ i.id }}" target="_blank">{{ i.title_title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="left_bottom">

            <div class="bottom_left">

                <div class="txtScroll-top">
                    <div class="hd">
                        <span class="title_color">教学文件</span>
                    </div>
                    <div class="bd">
                        <ul class="infoList">
                            {% for i in wenjian %}
                                <li>
                                    <span class="date">{{ i.create_time }}</span>
                                    <a href="/content_detail/{{ i.id }}" target="_blank">{{ i.title_title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>
            <div class="bottom_right">
                <div class="txtScroll-top">
                    <div class="hd">
                        <span class="title_color">学术期刊</span>
                    </div>
                    <div class="bd">
                        <ul class="infoList">
                            {% for i in xueshu %}
                                <li>
                                    <span class="date">{{ i.create_time }}</span>
                                    <a href="/content_detail/{{ i.id }}" target="_blank">{{ i.title_title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
</script>
</body>
<script type="text/javascript">
    // 教师风采
    jQuery(".picScroll-top").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        autoPage: true,
        effect: "topLoop",
        autoPlay: true,
        vis: 5,
        trigger: "click"
    });

    // 通知公告
    var ary = location.href.split("&");
    jQuery(".slideTxtBox").slide({
        effect: ary[1],
        autoPlay: ary[2],
        trigger: ary[3],
        easing: ary[4],
        delayTime: ary[5],
        pnLoop: ary[6]
    });
    // 最新动态
    jQuery(".txtScroll-top").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        autoPage: true,
        effect: "top",
        autoPlay: true,
        vis: 7
    });
    //tu片滚动
    jQuery(".picScroll-left").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        autoPage: true,
        effect: "leftLoop",
        autoPlay: true,
        vis: 1,
        trigger: "click"
    });
    //经验交流
    jQuery(".txtMarquee-top").slide({mainCell: ".bd ul", autoPlay: true, effect: "topMarquee", vis: 7, interTime: 50});


</script>
</html>
