{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <title>留言管理</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
    <meta content="telephone=no,email=no" name="format-detection"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/AdminLTE/css/AdminLTE.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/AdminLTE/css/daterangepicker/daterangepicker-bs3.css' %}"/>
    <link rel="stylesheet" href="{% static 'mmGrid/mmGrid.css' %}"/>
    <link rel="stylesheet" href="{% static 'mmGrid/theme/bootstrap/mmGrid-bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'mmGrid/mmPaginator.css' %}"/>
    <link rel="stylesheet" href="{% static 'mmGrid/theme/bootstrap/mmPaginator-bootstrap.css' %}"/>
    <style>
        #btn-add-commodity {
            color: white;
        }

        @media screen and (min-width: 660px) and (max-width: 992px) {
            .col-md-2 {
                float: left;
                width: 160px;
            }

            .col-md-4 {
                float: left;
                width: 235px;
            }
        }

        .fa {
            padding-right: 5px;
        }

        .dropdown-menu li a {
            color: black !important;
        }

        .table-top-style {
            background: aliceblue;
            margin-bottom: 10px;
            padding: 15px;
            /*display: inline-block;*/
        }

        .table-paginator {
            text-align: right;
        }

        .btn-right {
            float: right;
            margin-right: 15px;
        }

        #table6-1 {
            clear: both;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Arial", "Microsoft Yahei" !important;
            color: #999999;
        }

        .action-module-active h4 {
            color: white;
        }

        .btn {
            webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
            background-color: white;
        {#            color: #bababa;#}
        }

        .treeview-menu li a {
            margin-left: 20px !important;
        }

        .treeview > a:before {
            font-family: 'FontAwesome';
            content: "\f105";
            position: absolute;
            right: 15px;
        }

        .footer {
            text-align: center;
            font-size: 13px;
            color: #666;
            padding: 15px 0;
        }
    </style>
</head>
<div class="notifications bottom-right" style="z-index: 100"></div>
<header class="header">
    <section class="content-header">
        <h1>
            后台
            <small>留言管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'main' %}">首页</a></li>
            <li class="active">留言管理</li>
        </ol>
    </section>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="side">
        <!-- Content Header (Page header) -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-tools"></div>
                            <div class="box-body table-responsive">
                                <div class="table-top-style">
                                    <div class="form-group col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" placeholder="请选择日期" class="form-control pull-right"
                                                   id="reservation"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input type="text" class="form-control" placeholder="请输入标题"
                                               id="content-id"/>
                                    </div>
                                    {% if user_type != 3 %}
                                        <div class="form-group col-md-2">
                                            <input type="text" class="form-control" placeholder="请输入作者"
                                                   id="content-username"/>
                                        </div>
                                    {% endif %}
                                    <div class="form-group col-md-2">
                                        <select class="form-control col-md-2" name="message_type">
                                            <option value="">--类型--</option>
                                            <option value="1">公开留言</option>
                                            <option value="2">私密留言</option>
                                        </select>
                                    </div>
                                    <input type="button" value="筛选" id="btnFilter" class="btn btn-primary"/>
                                    <a href="{% url 'messages_edit' %}?action=add" id="btn-add-commodity"
                                       class="btn btn-primary btn-right">添加留言</a>
                                </div>
                                <table id="table6-1"></table>
                                <div class="table-paginator">
                                    <div id="paginator11-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <p>版权所有</p>
        </footer>
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->
<div class='notifications bottom-right'></div>
<script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'bootstrap/AdminLTE/js/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'bootstrap/AdminLTE/js/plugins/daterangepicker/moment.zh-cn.js' %}"></script>
<script src="{% static 'mmGrid/mmGrid.js' %}"></script>
<script src="{% static 'mmGrid/mmPaginator.js' %}"></script>
<script src="{% static 'js/mmGrid-adaptor.js' %}"></script>
<script>
    var user_type = {{ user_type }};
    var url = {
        messages: "{% url 'messages' %}",
        messages_delete: "{% url 'messages_delete' %}"
    };
    var cols = [
        {
            title: "标题",
            name: 'message_title',
            align: 'center',
            renderer: function (val, item) {
                return createGridHtml(item.message_title);
            }
        },{
            title: "留言者",
            name: 'message_name',
            align: 'center',
            renderer: function (val, item) {
                return createGridHtml(item.message_name);
            }
        }, {
            title: "类型",
            name: 'message_type',
            align: 'center',
            renderer: function (val, item) {
                var message_type = item.message_type;
                if(message_type == 1){
                    return "私密留言";
                }
                else if(message_type == 2){
                    return "公开留言";
                }
                else{
                    return "未知";
                }
            }
        }, {
            title: "留言内容",
            name: 'message_content',
            align: 'center',
            renderer: function (val, item) {
                return createGridHtml(item.message_content);
            }
        }, {
            title: "回复内容",
            name: 'reply_content',
            align: 'center',
            renderer: function (val, item) {
                return createGridHtml(item.reply_content);
            }
        }, {
            title: '创建时间',
            sortable: true,
            name: 'create_time',
            align: 'center',
            hidden: MmGrid.adaptor(714),
            renderer: function (val, item) {
                return createGridHtml(item.create_time);
            }
        }, {
            title: '操作',
            width: 200,
            align: 'center',
            renderer: function (val, item) {
                var value = item._id;
                return '<a href="messages_edit?action=edit&_id=' + value + '" class="btn btn-default btn-edit"> <i class="fa fa-pencil-square-o"></i>编辑</a>&nbsp;' +
                        '<a href="messages_detail/' + value + '" class="btn btn-default btn-edit"> <i class="fa fa-external-link"></i>详情</a>&nbsp;' +
                        '<a href="javascript:void(0)" data-id="' + item._id + '" data-name="' + item._id + '" class="btn btn-default btn-delete"> <i class="fa fa-trash-o"></i>删除</a>';
            }
        }];
    function renderGrid(url) {
        var mmgrid = $('#table6-1').mmGrid({
            cols: cols,
            height: "auto",
            url: url,
            method: 'post',
            remoteSort: true,
            fullWidthRows: true,
            sortName: '',
            sortStatus: 'asc',
            {#            checkCol: true, //增加单选框#}
            {#            multiSelect: true,//复选#}
            nowrap: true,//内容不折行
            plugins: [$('#paginator11-1').mmPaginator()],
            params: function () {
                //如果这里有验证，在验证失败时返回false则不执行AJAX查询。
                var obj = {};
                // 时间段
                var dateRange = $("#reservation").val();
                // 数据id
                var message_title = $("#content-id").val();
                if (user_type == 1) {
                    var message_name = $("#content-username").val();
                    if (!isNull(message_name)) {
                        obj.message_name = message_name;
                    }
                }
                var message_type = $("select[name='message_type']").val();
                if (!isNull(message_title)) {
                    obj.message_title = message_title;
                }
                if (!isNull(dateRange)) {
                    obj.dateRange = dateRange;
                }
                if (!isNull(message_type)) {
                    obj.message_type = message_type;
                }
                return obj
            }
        });
        return mmgrid;
    }

    function isNull(data) {
        if (data.indexOf("请") > -1) {
            return true
        }
        return /^\s*$/gi.test(data);
    }

    var timer = null;

    $(function () {
        //加载日期控件
        $('#reservation').daterangepicker({"maxDate": new Date()});
        //渲染表格
        var mmg = renderGrid(url.messages);
        $("#btnFilter").bind("click", function () {
            // 筛选后重新加载表格数据
            mmg.load({page: 1});
        });
        var table = $('#table6-1');
        // 绑定删除
        table.delegate('.btn-delete', 'click', function () {
            var name = $(this).attr('data-name');
            if (window.confirm('确定删除 <' + name + '> ?')) {
                var id = $(this).attr('data-id');
                $.post(url.messages_delete, {"id": id}, function (data) {
                    if (data.status == 0) {
                        //dwnotify("删除成功!");
                        alert('删除成功!');
                        window.location.reload();
                    } else {
                        //dwerror("删除失败！");
                        alert('删除失败');
                    }
                }, 'json');
            }
        });
    });
</script>
<script type="text/javascript" src="{% static 'js/common-mmgrid.js' %}">
</script>

</body>
</html>