{% load staticfiles %}
{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>辅导员风采</title>
    <link href="{% static 'show/css/buy.css' %}" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'show/js/jquery1.42.min.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'show/js/jquery.SuperSlide.2.1.1.js' %}"></script>


</head>

<body>

<div id="header">
    <div class="header wrap"></div>
</div>
<ul id="nav" class="wrap">
    <li>
        <a href="/">首&nbsp;页</a>
    </li>
    <li>
        <a href="/show_info/1">公告</a>
    </li>
    <li>
        <a href="/show_info/2">教学文件</a>
    </li>
    <li>
        <a href="/show_info/3">经验交流</a>
    </li>
    <li>
        <a href="/show_counsellor" class="active">辅导员风采</a>
    </li>
    <li>
        <a href="/show_info/6">留言板</a>
    </li>
    <li>
        <a href="/login">登录</a>
    </li>
</ul>

<div id="main" class="wrap">
    <div class="left">
        <!-- 搜索 -->
        <div class="search">
            <input class="search-name" type="text" placeholder="Search website" value=""/>
            <button class="btn btn-search">搜索</button>
        </div>
    </div>

    <!-- 右边内容 -->
    <div class="right">
        <div class="right_top">
            <ul>
                <li><h4>当前位置：</h4></li>
                <li><a href="/">首页</a></li>
                <li> &nbsp;> 辅导员风采</li>
            </ul>
        </div>
        <div class="right_content">

            <div class="multipleLine" style="margin:0 auto">
                <div class="hd">
                    <a class="next"></a>
                    <ul></ul>
                    <a class="prev"></a>
                    <span class="pageState"></span>
                </div>
                <div class="bd">

                    <div class="ulWrap">

                        <ul><!-- 把每次滚动的n个li放到1个ul里面 -->
                            {% for i in results %}
                                <li>
                                    <div class="pic"><span><img src="{{ i.upload_head }}"/></span>
                                    </div>
                                    <div class="title"><span>{{ i.nickname }}</span></div>
                                </li>
                            {% endfor %}

                        </ul>

                    </div><!-- ulWrap End -->
                </div><!-- bd End -->
            </div><!-- multipleLine End -->

            <div class="page">
                {% if page_info %}
                    <span>每页<b style="color:blue">{{ number }}</b>条,共<b style="color:blue">{{ p.count }}</b>条数据</span>

                    <span>第<b style="color:blue">{{ now_page }}</b>页/共<b
                            style="color:blue">{{ p.num_pages }}</b>页</span>
                    {% if page_info.has_previous %}
                        <a href="{% url "show_info/{{ type_type }}" %}?now_page={{ now_page }}&page_type=page_up">
                            上一页<<
                        </a>
                    {% endif %}
                    {% if page_info.has_next %}
                        <a href="{% url "show_info/{{ type_type }}" %}?now_page={{ now_page }}&page_type=page_down">
                            下一页>>
                        </a>
                    {% endif %}
                {% else %}
                    <span>共<b style="color:blue">0</b>条数据</span>,<span>共<b style="color:blue">0</b>页</span>
                {% endif %}
                <input class="jump-name" type="text" placeholder="页码" value="{{ now_page }}" style="width: 30px"/>
                <button class="btn btn-jump">跳转</button>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="wrap"></div>
</body>
<script type="text/javascript">

    jQuery(".sideMen").slide({titCell: "h3 em", targetCell: "ul", trigger: "mouseover"});

    jQuery(".multipleLine").slide({
        titCell: ".hd ul",
        mainCell: ".bd .ulWrap",
        autoPage: true,
        effect: "top",
        autoPlay: true
    });

</script>
<script>
    $(".btn-search").click(function () {
        var username = $('.search-name').val();
        var new_href = location.pathname + "?username=" + username;
        window.location.href = new_href;
    });
    $(".btn-jump").click(function () {
        var now_page = $('.jump-name').val();
        var new_href = location.pathname + "?now_page=" + now_page + "&page_type=jump";
        location.href = new_href;
    });
</script>
</html>