{% load staticfiles %}
{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ head_tile }}</title>
    <link href="{% static 'show/css/product.css' %}" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'show/js/jquery1.42.min.js' %}">

    </script>
    <script type="text/javascript" src="{% static 'show/js/jquery.SuperSlide.2.1.1.js' %}"></script>


</head>

<body>

<div id="header">
    <div class="header wrap"></div>
</div>
<ul id="nav" class="wrap">
    <li>
        <a href="/" class="active">首&nbsp;页</a>
    </li>
    <li>
        <a href="/show_info/1">公告</a>
    </li>
    <li>
        <a href="/show_info/2">教学文件</a>
    </li>
    <li>
        <a href="/show_info/3">经验交流</a>
    </li>
    <li>
        <a href="/show_counsellor">辅导员风采</a>
    </li>
    <li>
        <a href="/show_info/6">留言板</a>
    </li>
    <li>
        <a href="/login">登录</a>
    </li>
</ul>

<div id="main" class="wrap">
    <div class="left">

        <!-- 搜索 -->
        <div class="search">
            <input class="search-name" type="text" placeholder="Search website" value="{{ title }}"/>
            <button class="btn btn-search">搜索</button>
        </div>
    </div>

    <!-- 右边内容 -->
    <div class="right">
        <div class="right_top">
            <ul>
                <li><h4>当前位置：</h4></li>
                <li><a href="/">首页</a></li>
                <li> &nbsp;> {{ head_tile }}</li>
            </ul>
        </div>
        <div class="right_content">
            <div class="txtScroll-top">
                <div class="hd">
                    <h3 class="title_color">{{ head_tile }}</h3>
                    <a class="next"></a>
                    <ul></ul>
                    <a class="prev"></a>
                    <!--   <span class="pageState"></span> -->

                </div>
                <div class="bd">
                    <ul class="infoList">
                        {% if results %}
                            {% for i in results %}
                                <li>
                                    {% if type_type == "6" %}
                                        <span class="date">{{ i.create_time }}</span>
                                        <a href="/messages_detail/{{ i.id }}"
                                           target="_blank">{{ i.title_title }}</a>
                                    {% else %}
                                        <span class="date">{{ i.create_time }}</span>
                                        <a href="/content_detail/{{ i.id }}"
                                           target="_blank">{{ i.title_title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% else %}

                            <li>
                                <span class="date"></span><a href="#" target="_blank">没有数据</a>
                            </li>
                        {% endif %}
                    </ul>

                </div>
            </div>
            <div class="page">
                {% if page_info %}
                    <span>每页<b style="color:blue">{{ number }}</b>条,共<b style="color:blue">{{ p.count }}</b>条数据</span>

                    <span>第<b style="color:blue">{{ now_page }}</b>页/共<b
                            style="color:blue">{{ p.num_pages }}</b>页</span>
                    {% if page_info.has_previous %}
                        <a href="{% url "show_info/{{ type_type }}" %}?now_page={{ now_page }}&page_type=page_up">
                            上一页<<
                        </a>
                    {% endif %}

                    {% if page_info.has_next %}
                        <a href="{% url "show_info/{{ type_type }}" %}?now_page={{ now_page }}&page_type=page_down">
                            下一页>>
                        </a>
                    {% endif %}
                {% else %}
                    <span>共<b style="color:blue">0</b>条数据</span>,<span>共<b style="color:blue">0</b>页</span>
                {% endif %}
                <input class="jump-name" type="text" placeholder="页码" value="{{ now_page }}" style="width: 30px"/>
                <button class="btn btn-jump">跳转</button>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="wrap"></div>
</body>
<script type="text/javascript">
    jQuery(".sideMen").slide({titCell: "h3 em", targetCell: "ul", trigger: "mouseover"});
</script>
<script>
    $(".btn-search").click(function () {
        var username = $('.search-name').val();
{#        var old_href = location.protocol + location.host + location.pathname;#}
        var new_href = location.pathname + "?username=" + username;
        window.location.href = new_href;
    });
    $(".btn-jump").click(function () {
        var now_page = $('.jump-name').val();
{#        var old_href = location.protocol + location.host + location.pathname;#}
        var new_href = location.pathname + "?now_page=" + now_page + "&page_type=jump";
        location.href = new_href;
    });
</script>
</html>

